<div class="footer">
    <div class="top-footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6"></div>
                <div class="col-xs-12 col-sm-6"></div>
            </div>
        </div>
    </div>
    <div class="main-footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <aside id="text-1" class="widget widget_text">
                        <h5 class="widget_title" style="font-family:Arial;">О нас</h5>
                        <div class="textwidget" style="font-family:Arial;">
                            Квалифицированная выездная бригада со всем необходимым оборудованием для производства ремонтных работ. Работаем по Санкт-Петербургу и Ленобласти. Осуществляем диагностику и ремонт всех типов строительной и спецтехники, навесного оборудования, гидравлических систем и электрики.
                            <br>
                            <br> <img src="/wp-content/themes/construction/assets/img/logo/logo-light.png" class="has-retina" alt="logo">
                        </div>
                    </aside>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <aside id="tag_cloud-3" class="widget widget_tag_cloud">
                        <h5 class="widget_title" style="font-family:Arial;">Разделы</h5>
                        <div class="tagcloud">
                            <a href="/projects" class="tag-cloud-link tag-link-18 tag-link-position-1" style="font-size: 8pt;font-family:Arial;">НАШИ РАБОТЫ</a>
                            <a href="/contacts" class="tag-cloud-link tag-link-19 tag-link-position-2" style="font-size: 8pt; font-family: Arial;">КОНТАКТЫ</a>
                        </div>
                    </aside>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <aside id="nav_menu-1" class="widget widget_nav_menu">
                        <h5 class="widget_title" style="font-family:Arial;">Услуги</h5>
                        <div class="menu-footer-services-container">
                            <ul id="menu-footer-services" class="menu">
                                <li id="menu-item-415" class="menu-item menu-item-type-post_type menu-item-object-services menu-item-415" style="font-family: Arial; width: 100%;"><a href="/repair/">Ремонт</a></li>
                                <li id="menu-item-416" class="menu-item menu-item-type-post_type menu-item-object-services menu-item-416" style="font-family: Arial; width: 100%;"><a href="/diagnostics">Диагностика</a></li>
                                <li id="menu-item-416" class="menu-item menu-item-type-post_type menu-item-object-services menu-item-416" style="font-family: Arial; width: 100%;"><a href="/maintenance/">Обслуживание</a></li>
                                <li id="menu-item-417" class="menu-item menu-item-type-post_type menu-item-object-services menu-item-417" style="font-family: Arial; width: 100%;"><a href="/spares">Запчасти</a></li>
                            </ul>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- BEGIN JIVOSITE CODE {literal} -->
<script type='text/javascript'>
    (function () {
        var widget_id = '7ITZo3Frt3'; var d = document; var w = window; function l() {
            var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/' + widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);
        } if (d.readyState == 'complete') { l(); } else { if (w.attachEvent) { w.attachEvent('onload', l); } else { w.addEventListener('load', l, false); } }
    })();</script>
<!-- {/literal} END JIVOSITE CODE -->