<header class="header-wrapper">
    <div class="header header-style-1">
        <div class="container" style="width:100%; max-width:1170px;">
            <a class="logo" href="/" style="padding-right:0px;">
                <img src="/wp-content/uploads/2017/01/logo-dark.png" class="has-retina dark-logo" alt="logo"> <img src="/wp-content/uploads/2017/01/logo-light.png" class="has-retina light-logo" alt="light-logo">
            </a>
            <div class="header1-quote" style="display: inline-block; font-size: 16px; color: #ffb600; font-weight: bolder; margin-left: 30px;">

                <a class="phone-num phone-num1" href="tel:+78007078765" style="color:white;padding: 0 2px 0 2px; float:right; text-align: right;">8 (800) 707-87-65</a><br/>
				<a class="phone-num phone-num2" href="tel:+78126067770" style="background-color: #ffb600;padding: 0 2px 0 2px;">+7 (812) 606-77-70</a>
                @*<div class="header-signup-btn quote_slideout_id">Free Quote</div>*@
            </div>
            <div class="main-menu" id="main-menu">
                <ul id="menu-main-navigation" class="primary-menu">
                    <li id="menu-item-410" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home page_item page-item-344  menu-item-410">
                        <a href="/" style="font-family:Arial;">Главная</a>
                    </li>
                    @*<li id="menu-item-396" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-396">
                            <a href="#">Pages</a>
                            <ul class="sub-menu">
                                <li id="menu-item-419" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-419"><a href="/staff-members/">Staff Members</a></li>
                                <li id="menu-item-418" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-418"><a href="/our-testimonials/">Testimonials</a></li>
                                <li id="menu-item-420" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-420"><a href="/careers/">Careers</a></li>
                                <li id="menu-item-412" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-412"><a href="/contact/">Contact</a></li>
                                <li id="menu-item-427" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-427"><a href="/shop/">Shop</a></li>
                            </ul>
                        </li>*@
                    <li id="menu-item-414" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-414">
                        <a href="/services/" style="font-family:Arial;">Услуги &nbsp;&nbsp;&#9660;</a>
                        <ul class="sub-menu">
                            <li id="menu-item-421" class="menu-item menu-item-type-post_type menu-item-object-services menu-item-421">
                                <a href="/repair/" style="font-family:Arial;">Ремонт</a>
                            </li>
                            <li id="menu-item-422" class="menu-item menu-item-type-post_type menu-item-object-services menu-item-422">
                                <a href="/diagnostics/" style="font-family:Arial;">Диагностика</a>
                            </li>
                            <li id="menu-item-422" class="menu-item menu-item-type-post_type menu-item-object-services menu-item-422">
                                <a href="/maintenance/" style="font-family:Arial;">Обслуживание</a>
                            </li>

                        </ul>
                    </li>
                    <li id="menu-item-419" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home page_item page-item-344  menu-item-419">
                        <a href="/spares/" style="font-family:Arial;">Запчасти</a>
                    </li>
                    <li id="menu-item-413" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-413">
                        <a href="#" style="font-family:Arial;">Информация &nbsp;&nbsp;&#9660;</a>
                        <ul class="sub-menu">
                            <li id="menu-item-421" class="menu-item menu-item-type-post_type menu-item-object-services menu-item-421">
                                <a href="/projects/" style="font-family:Arial;">Наши работы</a>
                            </li>
                            <li id="menu-item-422" class="menu-item menu-item-type-post_type menu-item-object-services menu-item-422">
                                <a href="/links/" style="font-family:Arial;">Ссылки</a>
                            </li>
                        </ul>
                    </li>
                    <li id="menu-item-411" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-411">
                        <a href="/contacts/" style="font-family:Arial;">Контакты</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>