<div class="nt-mobile-wrapper-spacer">
    <div class="nt-mobile-wrapper">
        <div class="hamburger-button">
            <div class="hamburger-bar-top"></div>
            <div class="hamburger-bar-middle"></div>
            <div class="hamburger-bar-bottom"></div>
        </div>
        <div class="nt-mobile-logo">
            <a href="/"><img src="/wp-content/uploads/2017/01/logo-dark.png" class="has-retina" alt="mobile-logo"></a>
        </div>
        <div class="nt-mm1-wrapper">
            <a class="mobilemenu-phone-num" href="tel:+79213206396" style="top:37px;left:30px;">+7 921-320-63-96</a><br />
            <a class="mobilemenu-phone-num" href="tel:+79119969644" style="top:auto;left:30px;">+7 911-996-96-44</a>
            <div class="dropdown-menu-wrapper">
                <div class="menu-main-navigation-container">
                    <ul id="menu-main-navigation-1" class="mobile-menu">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-344 current_page_item menu-item-410">
                            <a href="/" style="font-family:Arial;">Главная</a>
                        </li>
                        @*<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-396">
                                <a href="#">Pages</a>
                                <ul class="sub-menu">
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-419"><a href="/staff-members/">Staff Members</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-418"><a href="/our-testimonials/">Testimonials</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-420"><a href="/careers/">Careers</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-412"><a href="/contact/">Contact</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-427"><a href="/shop/">Shop</a></li>
                                </ul>
                            </li>*@
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-414">
                            <a href="/services/" style="font-family:Arial;">Услуги</a>
                            <ul class="sub-menu">
                                <li class="menu-item menu-item-type-post_type menu-item-object-services menu-item-421">
                                    <a href="/repair/" style="font-family:Arial;">Ремонт</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-services menu-item-422">
                                    <a href="/diagnostics/" style="font-family:Arial;">Диагностика</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-services menu-item-422">
                                    <a href="/maintenance/" style="font-family:Arial;">Обслуживание</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-411">
                            <a href="/spares/" style="font-family:Arial;">Запчасти</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-411">
                            <a href="/projects/" style="font-family:Arial;">Наши работы</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-414">
                            <a href="#" style="font-family:Arial;">Информация</a>
                            <ul class="sub-menu">
                                <li class="menu-item menu-item-type-post_type menu-item-object-services menu-item-421">
                                    <a href="/projects/" style="font-family:Arial;">Наши работы</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-services menu-item-422">
                                    <a href="/links/" style="font-family:Arial;">Ссылки</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-411">
                            <a href="/contacts/" style="font-family:Arial;">Контакты</a>
                        </li>
                    </ul>
                </div>
            </div>
            @*<div class="mobilemenu-quote"> <a class="mobilemenu-quote-btn" href="/get-quote">Request Quote</a></div>*@
        </div>
    </div>
</div>