<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <Locked>False</Locked>
  <Notifications>
    <MessageFrom>info@miketti.com</MessageFrom>
    <MessageTo>info.miketti.com@mail.ru</MessageTo>
  </Notifications>
  <ReplacementModel>
    <Replacement target="">
      <what xpath=""><![CDATA[]]></what>
      <by><![CDATA[]]></by>
    </Replacement>
  </ReplacementModel>
</Configuration>