@using MvcApplication20.Models
@{
    DataModel Dm = Model as DataModel;
}
<div class="parallax-mirror" style="visibility: visible; z-index: -100; position: fixed; top: 0px; left: 0px; overflow: hidden; transform: translate3d(0px, 0px, 0px); height: 370px; width: 100%; ">
    <div style="background-repeat: no-repeat; background-image: url('/wp-content/uploads/2017/01/home-large-bg1.jpg'); background-size: cover; background-position: center center; width: 100%; height: 100%;"></div>
</div>
<div class="parallax-window custom-page-header" data-parallax="scroll" data-speed="0.5" data-image-src="/wp-content/uploads/2017/01/home-large-bg1.jpg" style="padding-top: 280px;padding-bottom: 0px;">
    <div class="container">
        <div class="page-header-inner">
            <div style="position: absolute; bottom: 70px;left: 0;">
                <div class="breadcrumbs">
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Главная" href="/" class="home">
                            <span property="name" style="font-family:Arial;">Главная</span>
                        </a>
                    </span> 
                    &gt;
                    <span property="itemListElement" typeof="ListItem">
                        <span property="name" style="font-family:Arial;">Контакты</span>
                    </span>
                </div>
            </div>
            <h1 class="page-title" style="color: #ffffff; left: 0; font-family: Arial;">Контакты</h1>
        </div>
    </div>
</div>
<div id="wrapper" style="background-color:white; padding-bottom:100px;">
    <div class="page_content">
        <div class="container">
            <div class="row row-fluid">
                <div class="col-sm-12">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <h2 class="construction-custom-heading " style="font-size: 25px;color: #111111;text-transform: uppercase; font-family:Arial; margin-top:100px;">
                                В Санкт-Петербурге и Ленобласти
                            </h2>
                            <div class="row vc_inner row-fluid">
                                @*<div class="col-sm-6">
                                    <div class="vc_column-inner ">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper"style="font-family:Arial;">
                                                    <p>
                                                        Ремонтная бригада работает на выезде. Вы всегда можете связаться с мастерами по указанным телефонам или оставив заявку на сайте.
                                                    </p>
                                                    <ul>
                                                        <li style ="list-style-type:disc;">
                                                            Адрес:<br />
                                                            Санкт-Петербург, Янино, ул. Шоссейная, д. 50, корп. А
                                                        </li>
                                                        <li style="list-style-type:disc;">
                                                            Телефоны:<br />
                                                            <a href="tel:+79213206396">+7 921-320-63-96</a><br />
                                                            <a href="tel:+79119969644">+7 911-996-96-44</a>
                                                        </li>
                                                        <li style="list-style-type:disc;">
                                                            Email:<br />
                                                            <a href="mailto:info@rstop.ru">info@rstop.ru</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>*@
                                    @Html.Raw(Dm.GetItem("305").Content)
                                </div>
                                <div class="col-sm-6">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div role="form" class="wpcf7" id="wpcf7-f75-p344-o2" lang="en-US" dir="ltr">
                                                <div class="screen-reader-response"></div>
                                                <form action="/layout1/#wpcf7-f75-p344-o2" method="post" class="wpcf7-form" novalidate="novalidate">
                                                    <div class="col-sm-6 col-xs-12 first">
                                                        <label style="font-family: Arial;">Ваше имя</label>
                                                        <br /> <span class="wpcf7-form-control-wrap text-657">
                                                                   <input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Ваше имя" />
                                                        </span>
                                                    </div>
                                                    <div class="col-sm-6 col-xs-12 second">
                                                        <label style="font-family: Arial;">Ваш телефон</label>
                                                        <br /> <span class="wpcf7-form-control-wrap tel-158">
                                                                   <input type="tel" name="your-phone" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel" aria-required="true" aria-invalid="false" placeholder="Ваш телефон" /></span>
                                                    </div>
                                                    <div class="col-sm-12 col-xs-12 second" style="padding:0 !important;">
                                                        <label style="font-family: Arial;">Как мы можем помочь?</label>
                                                        <br /> <span class="wpcf7-form-control-wrap menu-971">
                                                                   <textarea name="your-message" class="wpcf7-form-control wpcf7-text " aria-required="true" aria-invalid="false" placeholder=""></textarea>
                                                        </span>
                                                    </div>
                                                    <div class="col-sm-12 col-xs-12" style="padding:0 !important;">
                                                        <div class="cf7-submit-btn-push" style="float:right;">
                                                            <input type="submit" id="SendButton" value="Отправить" style="font-family: Arial;" class="wpcf7-form-control wpcf7-submit" />
                                                        </div>
                                                    </div>
                                                    <div class="wpcf7-response-output wpcf7-display-none"></div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-fluid vc_custom_1484201148992">
                <div class="col-sm-12">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <h2 class="construction-custom-heading fancy_heading_top" style="font-size: 15px;color: #111111;font-weight: 100;text-transform: uppercase; font-family:Arial;">наш офис</h2>
                            <h2 class="construction-custom-heading fancy_heading_bottom" style="font-size: 25px;color: #111111;text-transform: uppercase; font-family:Arial;">НА КАРТЕ</h2>
                            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A234772fe417e55742479289b3ca572a9e34781363dbbc764342549d55ad8ea7a&amp;width=100%25&amp;height=500&amp;lang=ru_RU&amp;scroll=true"></script>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-comments"></div>
        </div>
    </div>
</div>
