
<div class="parallax-mirror" style="visibility: visible; z-index: -100; position: fixed; top: 0px; left: 0px; overflow: hidden; transform: translate3d(0px, 0px, 0px); height: 370px; width: 100%; ">
    <div style="background-repeat: no-repeat; background-image: url('/wp-content/uploads/2017/01/diagnostics.jpg'); background-size: cover; background-position: center center; width: 100%; height: 100%; "></div>
</div>
<div class="parallax-window custom-page-header" data-parallax="scroll" data-speed="0.5" data-image-src="/wp-content/uploads/2017/01/diagnostics.jpg" style="padding-top: 280px;padding-bottom: 0px;">
    <div class="container">
        <div class="page-header-inner">
            <div style="position: absolute; bottom: 70px;left: 0;">
                <div class="breadcrumbs">
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Главная" href="/" class="home">
                            <span property="name" style="font-family:Arial;">Главная</span>
                        </a>
                    </span>
                    &gt;
                    <span property="itemListElement" typeof="ListItem">
                        <span property="name" style="font-family:Arial;">Диагностика</span>
                    </span>
                </div>
            </div>
            <h1 class="page-title" style="color: #ffffff; left: 0; font-family: Arial;">Диагностика</h1>
        </div>
    </div>
</div>
<div id="wrapper" style="background-color:white;">
    <div class="page_content">
        <div class="container">
            <div class="row row-fluid vc_custom_1484444368035">
                <div class="col-sm-12">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <h2 class="construction-custom-heading fancy_heading_top" style="font-size: 15px;color: #212121;font-weight: 100;text-transform: uppercase; font-family:Arial;">
                                Диагностика и ремонт всех видов
                            </h2>
                            <h2 class="construction-custom-heading fancy_heading_bottom" style="font-size: 50px; color: #212121; text-transform: uppercase; font-family: Arial;">
                                Строительной и спецтехники
                            </h2>
                            <div class="services-grid row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="services-grid-excerpt">
                                        <p>
                                            <ul style="list-style-type:disc;">
                                                <li style="list-style-type:disc;">Компьютерная диагностика</li>
                                                <li style="list-style-type:disc;">Диагностика и ремонт гидравлического оборудования</li>
                                            </ul>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6" style="height: 150px; ">
                                    <div class="services-grid-excerpt" style="height: 100%;">
                                        <div style="background-image: url('/wp-content/uploads/2017/01/diagnostics.jpg'); background-size: cover; background-position: center center; width: 100%; height: 100%;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="wrapper" style="background-color:white;">
    <div class="page_content">
        <div class="container">
                <div class="row row-fluid vc_custom_1484271396574">
                        <div class="col-sm-12">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper">
                                    <h2 class="construction-custom-heading fancy_heading_top" style="font-size: 25px; color: #222222; letter-spacing: -0.6px; font-weight: 100; text-transform: uppercase; font-family: Arial;">Преимущества</h2>
                                    <h2 class="construction-custom-heading fancy_heading_bottom" style="font-size: 40px; color: #222222; letter-spacing: -0.6px; text-transform: uppercase; font-family: Arial;">Почему мы</h2>
                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">
                                            <p style="font-family:Arial; text-align:justify;">
                                                Для вашего удобства и сокращения времени простоя мы предоставляем услуги как в нашем сервисном центре, так и на территории клиента.
                                            </p>
                                            <p style="font-family:Arial; text-align:justify;">
                                                По окончании сервисного обслуживания мы произведем все требующиеся пусконаладочные работы, чтобы обеспечить максимальный интервал бесперебойной эксплуатации вашей техники в будущем.
                                            </p>
                                            <p style="font-family:Arial; text-align:justify;">
                                                Часто непредвиденные задержки в ремонтных работах происходят из-за отсутствия необходимых запчастей. Мы возьмем на себя и эту заботу – большинство запасных частей постоянно в наличии на нашем складе. Также под заказ мы сделаем для вас утраченные детали: проставки, втулки, шестерни, произведем любой размер гидроцилиндров, в том числе можем изготовить полную копию вашего. Наша компания заботится о качестве, поэтому использует для работы только лучшие материалы и обязательно осуществляет экспертизу металла.
                                                Наличие обширной материально-технической базы и квалификация наших мастеров позволяют нам осуществлять ремонт качественно и в кратчайшие сроки.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
    </div>
</div>