
<div class="parallax-mirror" style="visibility: visible; z-index: -100; position: fixed; top: 0px; left: 0px; overflow: hidden; transform: translate3d(0px, 0px, 0px); height: 370px; width: 100%; ">
    <div style="background-repeat: no-repeat; background-image: url('/wp-content/uploads/2017/01/home-large-bg1_2.jpg'); background-size: cover; background-position: center center; width: 100%; height: 100%;"></div>
</div>
<div class="parallax-window custom-page-header" data-parallax="scroll" data-speed="0.5" data-image-src="/wp-content/uploads/2017/01/home-large-bg1_2.jpg" style="padding-top: 280px;padding-bottom: 0px;">
    <div class="container">
        <div class="page-header-inner">
            <div style="position: absolute; bottom: 70px;left: 0;">
                <div class="breadcrumbs">
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Главная" href="/" class="home">
                            <span property="name" style="font-family:Arial;">Главная</span>
                        </a>
                    </span> 
                    &gt;
                    <span property="itemListElement" typeof="ListItem">
                        <span property="name" style="font-family:Arial;">Услуги</span>
                    </span>
                </div>
            </div>
            <h1 class="page-title" style="color: #ffffff; left: 0; font-family: Arial;">Услуги</h1>
        </div>
    </div>
</div>
<div id="wrapper" style="background-color:white;">
    <div class="page_content">
        <div class="container">
            <div class="row row-fluid vc_custom_1484444368035">
                <div class="col-sm-12">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <h2 class="construction-custom-heading fancy_heading_top" style="font-size: 15px;color: #212121;font-weight: 100;text-transform: uppercase; font-family:Arial;">
                                В Санкт-Петербурге и Ленобласти
                            </h2>
                            <h2 class="construction-custom-heading fancy_heading_bottom" style="font-size: 50px; color: #212121; text-transform: uppercase; font-family: Arial;">
                                Специализируемся на
                            </h2>
                            <div class="services-grid row">
                                <div class="col-sm-4 col-xs-12">
                                    <figure class="service-figure">
                                        <div class="services-grid-thumbnail">
                                            <img width="1620" height="1080" src="/wp-content/uploads/2017/01/diagnostics.jpg" class="attachment-construction_crop_450_300 size-construction_crop_450_300 wp-post-image" alt="" sizes="(max-width: 1620px) 100vw, 1620px" />
                                        </div>
                                        <figcaption>
                                            <div class="services-grid-title"><a href="/diagnostics/" style="font-family:Arial;">Диагностика</a></div>
                                            <div class="services-grid-link">
                                                <a href="/diagnostics/" style="font-family:Arial;">Подробнее...</a>
                                                <i class="icon-arrow-right"></i>
                                            </div>
                                        </figcaption>
                                    </figure>
                                    <div class="services-grid-excerpt">
                                        <p>
                                            <ul style="list-style-type:disc;">
                                                <li style="list-style-type:disc;">Компьютерная диагностика</li>
                                                <li style="list-style-type:disc;">Диагностика и ремонт гидравлического оборудования</li>
                                            </ul>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-xs-12">
                                    <figure class="service-figure">
                                        <div class="services-grid-thumbnail">
                                            <img width="1920" height="1280" src="/wp-content/uploads/2017/01/repair.jpg" class="attachment-construction_crop_450_300 size-construction_crop_450_300 wp-post-image" alt="" sizes="(max-width: 1920px) 100vw, 1920px" />
                                        </div>
                                        <figcaption>
                                            <div class="services-grid-title"><a href="/repair/" style="font-family:Arial;">Ремонт</a></div>
                                            <div class="services-grid-link"><a href="/repair/" style="font-family:Arial;">Подробнее...</a><i class="icon-arrow-right"></i></div>
                                        </figcaption>
                                    </figure>
                                    <div class="services-grid-excerpt">
                                        <p>
                                            <ul style="list-style-type:disc;">
                                                <li style="list-style-type:disc;">Ремонт электрооборудования</li>
                                                <li style="list-style-type:disc;">Капитальный и текущий ремонт двигателя</li>
                                                <li style="list-style-type:disc;">
                                                    Ремонт мостов
                                                </li>
                                                <li style="list-style-type:disc;">
                                                    Ремонт коробок передач
                                                </li>
                                                <li style="list-style-type:disc;">Ремонт и замена ходовой части гусеничной техники</li>
                                            </ul>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-xs-12">
                                    <figure class="service-figure">
                                        <div class="services-grid-thumbnail"><img width="1920" height="1280" src="/wp-content/uploads/2017/01/maintenance.jpg" class="attachment-construction_crop_450_300 size-construction_crop_450_300 wp-post-image" alt="" sizes="(max-width: 1920px) 100vw, 1920px" /></div>
                                        <figcaption>
                                            <div class="services-grid-title"><a href="/maintenance/" style="font-family:Arial;">Обслуживание</a></div>
                                            <div class="services-grid-link"><a href="/maintenance/" style="font-family:Arial;">Подробнее...</a><i class="icon-arrow-right"></i></div>
                                        </figcaption>
                                    </figure>
                                    <div class="services-grid-excerpt">
                                        <p>
                                            <ul style="list-style-type:disc;">
                                                <li style="list-style-type:disc;">Техобслуживание (ТО)</li>
                                                <li style="list-style-type:disc;">Сварочные работы любой сложности</li>
                                                <li style="list-style-type:disc;">
                                                    Изготовление пальцев/втулок
                                                </li>
                                                <li style="list-style-type:disc;">
                                                    Восстановление отверстий
                                                </li>
                                                <li style="list-style-type:disc;">Восстановление ковшей</li>
                                            </ul>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>